/*profile sales summary*/
.sale-summary ul {
  margin-top:-10px;
}
.sale-summary li {
  padding:10px 0;
  overflow:hidden;
  border-top:solid 1px #eee;
}

.sale-summary li:first-child {
  border-top:none;
}

.sale-summary li .sale-info {
  float:left;
  color:#646464;
  font-size:12px;
  text-transform:uppercase;
}

.sale-summary li .sale-num {
  float:right;
  font-size:14px;
  font-weight:300;
}

.sale-summary li span i {
  top:1px;
  width:13px;
  height:14px;
  margin-left:3px;
  position:relative;
  display:inline-block;
}

.sale-summary .caption h4 {
  color:#383839;
  font-size:18px;
}

.sale-summary .caption {
  border-color:#c9c9c9;
}


.drop-dashboard ul{
margin-top:0px;
}

.drop-dashboard li {
  padding:0px 0;
font-size:14px;
}
