body {
	background-color: #FFFFFF;
}

.form-signup {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

input {
	height: 30px;
	font-size: 14px;
	width: 240px;
}

label {
	font-size: 14px;
}

.help-block {
	color: #949494;
}

.signup-success {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.proceed-btn {
	text-align: center;
	vertical-align: middle;
}