/***
Admin pages
***/

.pass-modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}

.password-modal-dialog {
  width: 450px;
  position: relative;
}

.ecredit-modal-dialog {
  width: 450px;
  position: relative;
}

.pass-error{text-align:left;font-size:12px;}

.ecredit-error{text-align:left;font-size:12px;}

.active-error{text-align:left;font-size:12px;}
