html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.login {
	background: #f1f1f1;
}
.wrapper {
	width: 990px;
	margin: 0 auto;
}
.margintop {
	margin: 40px auto;
}
h2 {
	font-size: 30px;
	line-height: 38px;
	font-weight: normal;
}
.loginbox {
	width: 490px;
	margin: 0 auto 40px auto;
	position: relative;
}
.loginboxinner {
	padding: 5px;
	position: relative;
}
.loginheader {
	height: 20px;
}
.loginform {
	margin: 4px auto;
	text-align: center;
}
.loginbox h1 {
	font-size: 30px;
	letter-spacing: 1px;
	color: #555;
	font-weight: normal;
	padding-top: 10px;
}
.loginbox p {
	margin: 7px 0 5px 0;
}
.loginbox label {
	display: block;
	color: #666;
	letter-spacing: 1px;
	font-size: 18px;
}
.loginbox input.mini {
	width: 195px;
}
.loginbox input {
	padding: 12px 10px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 8px;
	font-size: 15px;
	border: 1px solid #ccc;
	width: 420px;
	outline: none;
}
.loginbox button {
	background: #17b1f9;
	padding: 10px 20px;
	font-size: 18px;
	border: 1px solid #17b1f9;
	letter-spacing: 1px;
	color: #fff;
	width: 440px;
	line-height: 30px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	cursor: pointer;
}
.radius {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.radius1 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #8E989E;
	line-height: 28px;
	font-weight: normal;
	text-align: center;
	font-size: 16px;
}

@media screen and (max-width: 430px) {
body {
	font-size: 11px;
}
button, input, select, textarea {
	font-size: 11px;
}
.loginbox {
	width: auto;
	margin: 10px;
}
.loginbox input {
	width: 95%;
}
.loginbox button {
	width: 100%;
}
}
.clear {
	clear: both;
}
#facebook-Bar, #footer {
	background: #393d46;
	min-width: 1000px;
	width: 100%;
	z-index: 1000;
}
#footer {
	height: 25px;
	padding-top: 15px;
}
#footer p {
	font-size: 11px;
	color: #8f9394;
}
#facebook-Frame {
	margin-left: auto;
	margin-right: auto;
	max-width: 990px;
	height: 70px;
	display: block;
}
/*-------LOGO-----------*/
#logo {
	float: left;
	height: 70px;
	position: relative;
	width: 160px;
}
#logo a {
	position: absolute;
	top: 20px;
	font-size: 23px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*-------Login-----------*/
#header-main-right {
	float: right;
	height: 68px;
	position: relative;
	top: 5px;
}
#header-main-right-nav {
	padding: 4px 6px 4px 4px;
	position: absolute;
	right: 0;
}
#login_form .inputtext {
	background-color: #FFFFFF;
	height: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 5px 8px 5px 8px;
	width: 166px;
	border: 1px solid #333;
}
#login_form .inputtext:hover {
	border-color: #A0A0A0 #B9B9B9 #B9B9B9;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#login_form table tr td {
	padding: 0 0 0 5px;
}
#login_form table tr td label {
	color: #fff;
	cursor: pointer;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
.fbbutton {
	border: 1px solid #17b1f9;
	width: 94px;
	background: #17b1f9;
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	color: #fff;
	height: 26px;
	cursor:pointer
}
.left_content {
	width: 470px;
	float: left;
}
.right_content {
	width: 490px;
	float: right;
}

.whole_content {
    width: 960px;
    float: left;
}

.left_content h1 {
	color: #17b1f9;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: normal;
}
.left_content h2 {
	color: #8e8e8e;
	font-size: 16px;
	line-height: 22px;
}
.left_content h3 {
	color: #666;
	font-weight: normal;
	margin: 20px 0 5px 0;
	padding: 0;
}
.left_content p {
	font-size: 13px;
	color: #8e8e8e;
	line-height: 18px;
}

.whole_content h1 {
    color: #17b1f9;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
}
.whole_content h2 {
    color: #8e8e8e;
    font-size: 16px;
    line-height: 22px;
}
.whole_content h3 {
    color: #666;
    font-weight: normal;
    margin: 20px 0 5px 0;
    padding: 0;
}
.whole_content p {
    font-size: 13px;
    color: #8e8e8e;
    line-height: 18px;
}

p.agree{text-align:left;font-size:12px;margin:20px;color:#666;line-height:22px;}