
#sidebar {
    background: none repeat scroll 0 0 #FAFAFA;
    border-left: 1px solid #DEDEDE;
    min-height: 100%;
    overflow: auto;
    padding: 0 1px;
    position: relative;
    right: 0;
    top: 0;
    width: 314px;
    float: right;
}


#sidebar .tabs_container .sidebar_widget {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #FFFFFF;
    margin: 1px 0;
    padding: 8px;
}



#sidebar .tabs_container h5 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    color: #999999;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 10px;
}



.left1 {
  border: 1px solid;  
  text-align: center;
  width: 150px;
  float: left;
}


.tile .tile-body .content {
    display: inline-block;
}
