@(member: Member)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/plugins/select2/select2_metro.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/bootstrap/css/bootstrap.min.css")"/>
<!-- END PAGE LEVEL STYLES -->
}

@scripts = {
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/select2/select2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/jquery.dataTables.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap/js/bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/fnReloadAjax.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/admin.js")"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("assets/scripts/app.js")"></script>
<script src="@routes.Assets.at("assets/scripts/table-managed.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script type="text/javascript">

	//initialize dates
	$('#fromDate').val(moment().subtract('days', 29).format('MMMM D, YYYY'));
    $('#toDate').val(moment().format('MMMM D, YYYY'));
    
	var oTable = $('#activeTable').dataTable({
	    "aLengthMenu" : [ [ 10, 50, 100, -1 ], [ 10, 50, 100, "All" ] ],
	    "bProcessing" : true,
	    "bServerSide" : true,
	    "sAjaxSource": "viewActiveMembers",
	    "aoColumns" : [ {
	        "mData" : "fullName",
	        "bSortable" : true,
	        "sTitle" : "FULL NAME"
	    }, {
	        "mData" : "username",
	        "bSortable" : true,
	        "sTitle" : "USERNAME"
	    }, {
	        "mData" : "sponsorFullName",
	        "bSortable" : true,
	        "sTitle" : "SPONSOR NAME"
	    }],
	    // set the initial value
	    "iDisplayLength" : 10,
	    "sPaginationType": "bootstrap",
	    "oLanguage" : {
	        "sLengthMenu" : "_MENU_ records",
	        "oPaginate" : {
	            "sPrevious" : "Prev",
	            "sNext" : "Next"
	        }
	    },
	    "aoColumnDefs" : [ {
	        'bSortable' : false,
	        'aTargets' : [ 0 ]
	    } ],
	    "aaSorting": [[ 0, "asc" ]],
	    "fnServerParams": function (aoData) {
	        aoData.push({
	            "name": "fromDate",
	            "value": $('#fromDate').val()
	        })
	        aoData.push({
	            "name": "toDate",
	            "value": $('#toDate').val()
	        })
	    }
	});
	
	jQuery('#activeTable .dataTables_filter input').addClass(
	        "form-control input-medium"); // modify table search input
	jQuery('#activeTable .dataTables_length select').addClass(
	        "form-control input-xsmall"); // modify table per page
	 
	$('#reportrange').daterangepicker({
	        opens: (App.isRTL() ? 'left' : 'right'),
	        startDate: moment().subtract('days', 29),
	        endDate: moment(),
	        showDropdowns: true,
	        showWeekNumbers: true,
	        timePicker: false,
	        timePickerIncrement: 1,
	        timePicker12Hour: true,
	        ranges: {
	            'Today': [moment(), moment()],
	            'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
	            'Last 7 Days': [moment().subtract('days', 6), moment()],
	            'Last 30 Days': [moment().subtract('days', 29), moment()],
	            'This Month': [moment().startOf('month'), moment().endOf('month')],
	            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
	        },
	        buttonClasses: ['btn'],
	        applyClass: 'green',
	        cancelClass: 'default',
	        format: 'MM/DD/YYYY',
	        separator: ' to ',
	        locale: {
	            applyLabel: 'Apply',
	            fromLabel: 'From',
	            toLabel: 'To',
	            customRangeLabel: 'Custom Range',
	            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
	            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
	            firstDay: 1
	        }
	    },
	    function (start, end) {
	        console.log("Callback has been called!");
	        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	        $('#fromDate').val(start.format('MMMM D, YYYY'));
	        $('#toDate').val(end.format('MMMM D, YYYY'));
	    }
	);
	//Set the initial state of the picker label
	$('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

	
	$('#submitActivateDateRangeBtn').on( 'click', function (e) {
	    oTable.fnReloadAjax();
	});
	
	$('#resetBtn').on( 'click', function (e) {
	    $('#reportrange span').html('');
	    $('#fromDate').val("");
	    $('#toDate').val("");
	    $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
	    oTable.fnReloadAjax();
	});
</script>
}

@adminMain(member, css, scripts) {
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            
            <ul class="page-breadcrumb breadcrumb">
                
                <li>
                    <i class="fa fa-table"></i>
                    <a href="">Reports</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="@routes.AdminController.indexActiveMembers()">Active Members</a>
                    
                </li>
                
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-reorder"></i>Select Date Range
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                            </div>
                        </div>
                        <div class="portlet-body form">
			                <!-- BEGIN FORM-->
			                <form action="#" class="form-horizontal form-bordered">
			                    <div class="form-body">
			                        <div class="form-group">
			                            <label class="control-label col-md-3">Activate Date Range</label>
			                            <div class="col-md-4">
			                                <div id="reportrange" class="btn default">
			                                    <i class="fa fa-calendar"></i>
			                                    &nbsp;
			                                    <span></span>
			                                    <b class="fa fa-angle-down"></b>
			                                    <input type="hidden" id="fromDate" />
			                                    <input type="hidden" id="toDate" />
			                                </div>
			                            </div>
			                        </div>
			                        
			                    </div>
			                    <div class="form-actions fluid">
			                        <div class="row">
			                            <div class="col-md-12">
			                                <div class="col-md-offset-3 col-md-9">
			                                    <button id="submitActivateDateRangeBtn" type="button" class="btn green"><i class="fa fa-check"></i> Submit</button>
			                                    <button id="resetBtn" type="button" class="btn default">Reset</button>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </form>
			                <!-- END FORM-->
			            </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>  
    <div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-globe"></i>List of Active Members
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="activeTable">
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
}
