@(contactForm: Form[dto.FacilitatorProfileDto], member: Member)

@import helper._

@css = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/my-profile.css")">
}

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/myprofile.js")"></script>
}

@adminMain(member, css, scripts){
<div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            
            <ul class="page-breadcrumb breadcrumb">
                
                <li>
                    <i class="fa fa-table"></i>
                    <a href="">Facilitator</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="@routes.AdminController.indexAddFacilitator()">Add Facilitator</a>
                    
                </li>
                
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
<div class="row">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom boxless">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_0" data-toggle="tab">Facilitator Profile</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_0">
					@helper.form(action = routes.AdminController.addFacilitator, 'class -> "form-horizontal") {
						<div class="form-body">
							@if(contactForm.hasGlobalErrors) {
								    <p class="error">
								        @contactForm.globalError.message
								    </p>
								}
							<div class="form-group">
								<label class="col-md-3 control-label">Username:</label>
								<div class="col-md-4">
                                    <input type="text" class="form-control" id="userName" name="userName" value="@contactForm("userName").value"
                                        placeholder="Enter text" >
                                    @if(contactForm.error("userName") != null) {
                                    <span class="error">@Messages(contactForm.error("userName").message)</span>
                                    }
                                </div>
							</div>
				            <div class="form-group">
								<label class="col-md-3 control-label">First Name:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="firstName" name="firstName" value="@contactForm("firstName").value"
										placeholder="Enter text" >
									@if(contactForm.error("firstName") != null) {
									<span class="error">@Messages(contactForm.error("firstName").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Middle Name:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="middleName" name="middleName" value="@contactForm("middleName").value"
										placeholder="Enter text" >
									@if(contactForm.error("middleName") != null) {
									<span class="error">@Messages(contactForm.error("middleName").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Last Name:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="lastName" name="lastName" value="@contactForm("lastName").value"
										placeholder="Enter text">
									@if(contactForm.error("lastName") != null) {
									<span class="error">@Messages(contactForm.error("lastName").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Gender:</label>
								<div class="col-md-4">
									<input type="hidden" id="selectedGender" value="@contactForm("gender").value"/>
									<select class="form-control" id="gender" name="gender" >
										<option value=""></option>
										<option value="M">Male</option>
										<option value="F">Female</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Mobile Phone:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="mobileNumber" name="mobileNumber" value="@contactForm("mobileNumber").value"
										placeholder="Enter text">
									@if(contactForm.error("mobileNumber") != null) {
									<span class="error">@Messages(contactForm.error("mobileNumber").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Email Address</label>
								<div class="col-md-4">
									<div class="input-group">
										<input type="email" class="form-control" id="email" name="email" value="@contactForm("email").value"
											placeholder="Email Address">
										@if(contactForm.error("email") != null) {
										<span class="error">@Messages(contactForm.error("email").message)</span>
										}
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn blue">Add Facilitator</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
