@(member: Member)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="@routes.Assets.at("stylesheets/custom_dashboard.css")" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
}
@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/checkMemberAccountdetails.js")"></script>
}

@adminMain(member, css, scripts){
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<a href="@routes.AdminController.index()">Dashboard</a>
			</li>
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-xs-12">
		<span>
			<h4>Hello <b>@member.account.person.firstName @member.account.person.lastName</b> Welcome to the Administrator Dashboard of MySupersaver.</h4>

		</span>
	</div>
</div>
}