@(member: Member)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/plugins/select2/select2_metro.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/bootstrap/css/bootstrap.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/css/pages/admin.css")"/>
<!-- END PAGE LEVEL STYLES -->
}

@scripts = {
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/select2/select2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/jquery.dataTables.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap/js/bootstrap.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/admin.js")"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("assets/scripts/app.js")"></script>
<script src="@routes.Assets.at("assets/scripts/table-managed.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script type="text/javascript">

	$('#reportrange span').html('');
	
	var oTable = $('#faciTable').dataTable({
	    "aLengthMenu" : [ [ 10, 50, 100, -1 ], [ 10, 50, 100, "All" ] ],
	    "bProcessing" : false,
	    "bServerSide" : true,
	    "sAjaxSource": "viewFacilitators",
	    "aoColumns": [ {
      		"mData": "fullName",
      	  	"bSortable": true,
       	 	"sTitle": "FULL NAME"
        	},
         	{ "mData": "username",
      	   	"bSortable": true,
           	"sTitle": "USERNAME NAME"
            },
            { "mData": "amount",
                "bSortable": true,
               "sTitle": "E-CREDITS"
             },
            {
          	  "mData": "action",
          	  "bSortable": false,
          	  "sTitle": "ACTION",
          	  "mRender": function (data, type, row) {
      		    	return "<div>" +
      		    		"<button type='button' id='ecreditBtn' class='btn blue' " + 
      		    		"onclick='javascript:addECredits(\"" + row.username + "\");' data-toggle='modal'>Add E-Credit</button>" +
      		    		"</div>";
          		    
          	   }
            }
         
		],
	    // set the initial value
	    "iDisplayLength" : 10,
	    "sPaginationType": "bootstrap",
	    "oLanguage" : {
	        "sLengthMenu" : "_MENU_ records",
	        "oPaginate" : {
	            "sPrevious" : "Prev",
	            "sNext" : "Next"
	        }
	    },
	    "aoColumnDefs" : [ {
	        'bSortable' : false,
	        'aTargets' : [ 0 ]
	    },
         { "sWidth": "30%", "aTargets": [0] },
          { "sWidth": "20%", "aTargets": [1] },
          { "sWidth": "25%", "aTargets": [2] },
          { "sWidth": "25%", "aTargets": [3] }
	    ],
	    "aaSorting": [[ 0, "asc" ]]
	    
	});
	
	jQuery('#memberTable .dataTables_filter input').addClass(
	        "form-control input-medium"); // modify table search input
	jQuery('#memberTable .dataTables_length select').addClass(
	        "form-control input-xsmall"); // modify table per page

</script>
}

@adminMain(member, css, scripts) {
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            
            <ul class="page-breadcrumb breadcrumb">
                
                <li>
                    <i class="fa fa-user"></i>
                    <a href="">Facilitator</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="routes.AdminController.indexListFacilitators">Give E-Credits</a>
                    
                </li>
                
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-globe"></i>List of Facilitators
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="faciTable">
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
	       <div class="modal fade" id="eCreditDialog" >
	          <div class="modal-dialog ecredit-modal-dialog">
	              <div class="modal-content">
	                  <div class="modal-header">
	                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	                      <h4 class="modal-title">Give E-Credits</h4>
	                  </div>
	                  <div class="modal-body">
	                  	<p>
	                 		<input id="addecredit" name="addecredit" tabindex="1" class="radius" placeholder="Additional E-Credits" type="addecredit">
	                 		<input id="membername" name="membername" type="hidden">
	            		</p>
	                            <div class="ecredit-error" style="display:none; color:#FF0000" id="ecredit-error">error</div>
	                            <!-- p style="display:none; color:green" id="pass-success">Change password success!</p --> 					                
	                  </div>
	                  <div class="modal-footer pass-modal-footer">
	                      <button type="button" class="btn blue" id="addECredits" >Add</button>
	                      <button type="button" class="btn default" data-dismiss="modal">Close</button>
	
	                  </div>
	              </div>
	              <!-- /.modal-content -->
	          </div>
	          <!-- /.modal-dialog -->
	      </div>
		</div>
	</div>

}
