@(member: Member)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/plugins/select2/select2_metro.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/bootstrap/css/bootstrap.min.css")"/>
<!-- END PAGE LEVEL STYLES -->
}

@scripts = {
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/select2/select2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/jquery.dataTables.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/bootstrap/js/bootstrap.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/admin.js")"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("assets/scripts/app.js")"></script>
<script src="@routes.Assets.at("assets/scripts/table-managed.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script type="text/javascript">

// 	$('#reportrange span').html('');
	
	var oTable = $('#reportTable').dataTable({
	    "aLengthMenu" : [ [ 10, 50, 100, -1 ], [ 10, 50, 100, "All" ] ],
	    "bProcessing" : false,
	    "bServerSide" : true,
	    "sAjaxSource": "viewDownloadReport",
	    "aoColumns" : [ {
	        "mData" : "name",
	        "bSortable" : true,
	        "sTitle" : "NAME",
        	 "mRender": function (data, type, row) {
        		 return "<a href=\"downloadReport/"+ row.name + "\">" + row.name +"</a>" ;  
       		  }
        }],
	    // set the initial value
	    "iDisplayLength" : 10,
	    "sPaginationType": "bootstrap",
	    "oLanguage" : {
	        "sLengthMenu" : "_MENU_ records",
	        "oPaginate" : {
	            "sPrevious" : "Prev",
	            "sNext" : "Next"
	        }
	    },
	    "aoColumnDefs" : [ {
	        'bSortable' : false,
	        'aTargets' : [ 0 ]
	    }
	    ],
	    "aaSorting": [[ 0, "asc" ]]
	    
	});
	
	jQuery('#reportTable .dataTables_filter input').addClass(
	        "form-control input-medium"); // modify table search input
	jQuery('#reportTable .dataTables_length select').addClass(
	        "form-control input-xsmall"); // modify table per page
	
	 function downloadReport(name) {
	     alert(name);
		 appRoutes.controllers.ReportController.downloadReport(name).ajax( {
				success : function (response) {
					alert('succes');
					window.location.href = response.url;
				},error : function (error) {
					alert('fail');
				}
		 });
	 }
</script>
}

@adminMain(member, css, scripts) {
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            
            <ul class="page-breadcrumb breadcrumb">
                
                <li>
                    <i class="fa fa-user"></i>
                    <a href="">Reports</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-table"></i>
                    <a href="@routes.ReportController.indexDownloadReport()">Downloadable Reports</a>
                    
                </li>
                
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-globe"></i>List of Reports
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="reportTable">
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
}
