@(member: Member, userName: String)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->

<link href="@routes.Assets.at("stylesheets/custom_dashboard.css")" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
}
@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/memberAddAccount.js")"></script>
}

@memberMain(member, css, scripts){
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<a href="@routes.MemberController.index()">New Placement Account</a>
			</li>
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- Start of Merchant Form -->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Additional Account Form
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#" class="horizontal-form">
					<div class="form-body">
						<h3 class="form-section">Information Details</h3>
						<div id="errorBox" class="alert alert-danger" style="display:none;">
							<strong>Transaction Failed!</strong> 
						</div>
						<div id="successBox" class="alert alert-success" style="display:none;">
							<strong>Success!</strong> Transaction has been completed.
						</div>
						<div class="row">
							<div class="col-md-6">
								<div id="sponsorDiv" class="form-group">
									<label class="control-label">Username Name</label>
										<input type="text" id="userName" class="form-control" value="@userName">
								</div>
							</div>
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-6">
								<div id="placementDiv" class="form-group">
									<label class="control-label">Placement User Name</label>
									<input type="text" id="placementUserName" class="form-control" placeholder="placement">
									<span id="error1" class="help-block" style="display:none;"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions left">
						<button type="button" id="submitAccountBtn"  class="btn blue"><i class="fa fa-check"></i> Add Account</button>
						<button id="resetBtn" type="button" class="btn default">Reset</button>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
	<!-- End of Merchant Form -->
	</div>
</div>
}