@(member: Member)
@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/plugins/select2/select2_metro.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/css/jquery.orgchart.css")"/>
<!-- END PAGE LEVEL STYLES -->
}

@scripts = {
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/select2/select2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/moment.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/jquery.dataTables.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.js")"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("assets/scripts/app.js")"></script>
<script src="@routes.Assets.at("assets/plugins/jquery.orgchart.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script type="text/javascript">

function displayError(msg) {
	$("#board-error").text(msg);
}

function hideError() {
	$("#board-error").text("");
}
</script>
<style>
.boardError {
	color:	#ff0000;
}

.orgName {
    font-size: 12px;
}
.name {
	cursor:pointer;
}
div.orgChart div.node {
    cursor                : default;
    border                : 2px solid #63b8ff;
    display               : inline-block;
    padding               : 0 5px;
    width                 : 96px;
    height                : 40px;
    background-color      : #63b8ff;
    color                 : #ffffff;
    vertical-align        : text-bottom;
    line-height           : 1.0em;
    border-radius         : 25px;
    box-shadow            : 4px 4px 6px #888888;
    -moz-border-radius    : 25px;
    -moz-box-shadow       : 4px 4px 6px #888888;
    -webkit-border-radius : 25px;
    -webkit-box-shadow    : 4px 4px 6px #888888;
}

</style>
}

@memberMain(member, css, scripts) {
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			
			<ul class="page-breadcrumb breadcrumb">
				
				<li>
					<i class="fa fa-sitemap"></i>
					<a href="">Network</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">Board Scheme</a>
					
				</li>
				
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Boards
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div id="target1">
							</div>
							<div id="board-error" class="boardError"></div>
							<!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#board1" aria-controls="board1" role="tab" data-toggle="tab">Board 1</a></li>
							    <li role="presentation"><a href="#board2" aria-controls="board2" role="tab" data-toggle="tab">Board 2</a></li>
							    <li role="presentation"><a href="#board3" aria-controls="board3" role="tab" data-toggle="tab">Board 3</a></li>
							    <li role="presentation"><a href="#board4" aria-controls="board4" role="tab" data-toggle="tab">Board 4</a></li>
							    <li role="presentation"><a href="#board5" aria-controls="board5" role="tab" data-toggle="tab">Board 5</a></li>
							    <li role="presentation"><a href="#board6" aria-controls="board6" role="tab" data-toggle="tab">Board 6</a></li>
							    <li role="presentation"><a href="#board7" aria-controls="board7" role="tab" data-toggle="tab">Board 7</a></li>
							    <li role="presentation"><a href="#board8" aria-controls="board8" role="tab" data-toggle="tab">Board 8</a></li>
							    <li role="presentation"><a href="#board9" aria-controls="board9" role="tab" data-toggle="tab">Board 9</a></li>
							    <li role="presentation"><a href="#board10" aria-controls="board10" role="tab" data-toggle="tab">Board 10</a></li>
							    <li role="presentation"><a href="#board11" aria-controls="board11" role="tab" data-toggle="tab">Board 11</a></li>
							    <li role="presentation"><a href="#board12" aria-controls="board12" role="tab" data-toggle="tab">Board 12</a></li>
							  </ul>
							
							  <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="board1">
							    	@parentchart(member, 1, css, scripts)
								</div>
							    <div role="tabpanel" class="tab-pane" id="board2">
									@parentchart(member, 2, css, scripts)
								</div>									
								<div role="tabpanel" class="tab-pane" id="board3">
									@parentchart(member, 3, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board4">
									@parentchart(member, 4, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board5">
									@parentchart(member, 5, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board6">
									@parentchart(member, 6, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board7">
									@parentchart(member, 7, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board8">
									@parentchart(member, 8, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board9">
									@parentchart(member, 9, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board10">
									@parentchart(member, 10, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board11">
									@parentchart(member, 11, css, scripts)
								</div>
								<div role="tabpanel" class="tab-pane" id="board12">
									@parentchart(member, 12, css, scripts)
								</div>
							    
								
							  </div>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>	
}