@(member: Member, cash: String, sponsor: String, ecredit: String, pendingCount: Integer, allMemberAccount: List[Member], memberList: List[Member], wealthpoints: String,
ogCounter: String, vantageCounter: String, aimCounter: String)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="@routes.Assets.at("stylesheets/custom_dashboard.css")" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
}
@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/checkMemberAccountdetails.js")"></script>
}

@memberMain(member, css, scripts){
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<a href="@routes.MemberController.index()">Dashboard</a>
			</li>
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-xs-12">
		<span>
			<h4>Hello <b>@member.account.person.firstName @member.account.person.lastName</b> Welcome to Dashboard of MySupersaver.</h4>

		</span>
		<span>
			<h4>Your current username logged: <b>@member.username</b><h4>
		</span>
		<span>
			<h4>Your current rank: <b>Gold</b><h4>
		</span>
		<span>
			<h4>Your current status for this month: @if(member.active) {<b>Active</b>}else {<b>Inactive</b>}<h4>
		</span>
		<span>
			<h4>Your waiting pre sign up:@if(pendingCount > 0){ <b> <a href="@routes.MemberController.indexPendingAssociates()">@pendingCount </a></b>} else { <b>@pendingCount</b> }
			<h4>
		</span>
	</div>
	<div class="col-xs-12">
	<hr>
	</div>
	<div class="col-md-12">
		<!-- BEGIN CASH REWARD-->
	 	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat purple">
			<div class="visual">
				<i class="fa fa-money"></i>
			</div>
			<div class="details">
				<div class="number">
					@cash
				</div>
				<div class="desc">
					Cash Rewards
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END CASH REWARD-->
	<!-- BEGIN SPONSOR REWARD-->
	 	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa fa-money"></i>
			</div>
			<div class="details">
				<div class="number">
					@sponsor
				</div>
				<div class="desc">
					Sponsor Rewards
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END SPONSOR REWARD-->
	<!-- START WEALTH REWARD-->
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-star"></i>
			</div>
			<div class="details">
				<div class="number">
					@wealthpoints
				</div>
				<div class="desc">
					Wealth Rewards
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END WEALTH REWARD-->
	<!-- START E-CREDITS REWARD-->
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red">
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="details">
				<div class="number">
					@ecredit
				</div>
				<div class="desc">
					E-Credits Rewards
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END E-CREDITS REWARD-->
	<!-- START OG REWARD STUB-->
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-fire"></i>
			</div>
			<div class="details">
				<div class="number">
					@ogCounter
				</div>
				<div class="desc">
					OG Premium Stub
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END OG REWARD STUB-->
	<!-- START VANTAGE REWARD STUB-->
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-credit-card"></i>
			</div>
			<div class="details">
				<div class="number">
					@vantageCounter
				</div>
				<div class="desc">
					Vantage Premium Stub
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END VANTAGE REWARD STUB-->
	<!-- START AIM REWARD STUB-->
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-gift"></i>
			</div>
			<div class="details">
				<div class="number">
					@aimCounter
				</div>
				<div class="desc">
					AIM Premium Stub
				</div>
			</div>
			<a href="#" class="more">
			&nbsp;<i class="m-icon-swapright m-icon-white"></i>
			</a>
		</div>
	</div>
	<!-- END AIM REWARD STUB-->
	<!-- START ACCONTS SUMMARY -->
	
		<div class="col-md-12">
			<div class="portlet sale-summary">
				<div class="portlet-title ">
					<div class="caption">
						Member List
					</div>

				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="account_members">
							<tr>
								<th>USERNAME</th>
								<th>REGISTRATION DATE</th>
								<th>MATURITY DATE</th>
								<th>SPONSOR NAME</th>
							</tr>
							@for(member <- memberList) {
									<tr>
										<td>@member.username</td>
										<td>@member.registrationDate.format("MM/dd/yyyy")</td>
										<td>@{ var cal = Calendar.getInstance();
											cal.setTime(member.registrationDate);
											cal.add(Calendar.YEAR, 5);
											cal.add(Calendar.DATE, -1);
											cal.getTime().format("MM/dd/yyyy");
											}
										</td>
										
										<td>
											@if(member.sponsor != null) {
												@member.sponsor.account.person.firstName @member.sponsor.account.person.lastName
										
											}
												
										</td>
									</tr>
							}	
					</table>
									

				</div>
			</div>
		</div>
		<div class="col-md-4">
		
			<div class="portlet sale-summary">
				<div class="portlet-title ">
					<div class="caption">
						Account Summary
					</div>
					<div class="actions">
						<div class="btn-group drop-dashboard">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">Select Account &nbsp;<i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu ">
									<li>
									
									</li>
							@for(member <- allMemberAccount) {
									<li>
										<a href="#" onclick="submitMemberAccount('@member.username')">@member.username</a>
									</li>
							}
								</ul>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<ul class="list-unstyled">
						<li>
							<span class="sale-info">
								<i class="fa fa-user"></i> Username
							</span>
							<span class="sale-num">
								<div id="usernameSelectedValue"> 
								</div>
							</span>
						</li>
						<li>
							<span class="sale-info">
								<i class="fa fa-map-marker"></i> Cash Bonus
							</span>
							<span class="sale-num">
								<div id="cashValue"> 
								</div>
							</span>
						</li>
						<li>
							<span class="sale-info">
								<i class="fa fa-map-marker"></i> Sponsor Bonus
							</span>
							<span class="sale-num">
								<div id="sponsorValue"> 
								</div>
							</span>
						</li>
						<li>
							<span class="sale-info">
							<i class="fa fa-briefcase"></i>	E-Credit Bonus 
							</span>
							<span class="sale-num">
								<div id="unilevelValue"> 
								</div>
							</span>
						</li>
						<li>
							<span class="sale-info">
								<i class="fa fa-bookmark"></i> WEALTH BONUS
							</span>
							<span class="sale-num">
								<div id="wealthValue"> 
								</div>
							</span>
						</li>
						<li>
							<span class="sale-info">
							<i class="fa fa-money"></i>	EARNS
							</span>
							<span class="sale-num">
							
							</span>
						</li>
					</ul>
				</div>
			</div>	
		</div>	

	<!-- END ACCOUNTS SUMMARY -->
	</div>
</div>
}