@(contactForm: Form[dto.MemberProfileDto], member: Member)

@import helper._

@css = {
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/my-profile.css")">
}

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/myprofile.js")"></script>
}

@memberMain(member, css, scripts){
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-sitemap"></i>
				<a href="">My Account</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<i class="fa fa-user"></i>
				<a href="@routes.MemberProfileController.display()">My Profile</a>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom boxless">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_0" data-toggle="tab">My Profile</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_0">
					@helper.form(action = routes.MemberProfileController.submit, 'class -> "form-horizontal") {
						<div class="form-body">
							@if(contactForm.hasGlobalErrors) {
								    <p class="error">
								        @contactForm.globalError.message
								    </p>
								}
							<div class="form-group">
								<label class="col-md-3 control-label">Username:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" value="@member.username" readonly>
								</div>
							</div>
							@if(contactForm("sponsorName").value != null) {
								<div class="form-group">
								<label class="col-md-3 control-label">Sponsor Username:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" value="@contactForm("sponsorName").value" readonly>
								</div>
							</div>
							}
				            <div class="form-group">
								<label class="col-md-3 control-label">First Name:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="firstName" name="firstName" value="@contactForm("firstName").value"
										placeholder="Enter text" >
									@if(contactForm.error("firstName") != null) {
									<span class="error">@Messages(contactForm.error("firstName").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Middle Name:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="middleName" name="middleName" value="@contactForm("middleName").value"
										placeholder="Enter text" >
									@if(contactForm.error("middleName") != null) {
									<span class="error">@Messages(contactForm.error("middleName").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Last Name:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="lastName" name="lastName" value="@contactForm("lastName").value"
										placeholder="Enter text">
									@if(contactForm.error("lastName") != null) {
									<span class="error">@Messages(contactForm.error("lastName").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Gender:</label>
								<div class="col-md-4">
									<input type="hidden" id="selectedGender" value="@contactForm("gender").value"/>
									<select class="form-control" id="gender" name="gender" >
										<option value=""></option>
										<option value="M">Male</option>
										<option value="F">Female</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Mobile Phone:</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="mobileNumber" name="mobileNumber" value="@contactForm("mobileNumber").value"
										placeholder="Enter text">
									@if(contactForm.error("mobileNumber") != null) {
									<span class="error">@Messages(contactForm.error("mobileNumber").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Email Address</label>
								<div class="col-md-4">
									<div class="input-group">
										<input type="email" class="form-control" id="email" name="email" value="@contactForm("email").value"
											placeholder="Email Address">
										@if(contactForm.error("email") != null) {
										<span class="error">@Messages(contactForm.error("email").message)</span>
										}
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Street</label>
								<div class="col-md-4">
										<input class="form-control" id="street" name="street" value="@contactForm("street").value"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Province/City</label>
								<div class="col-md-4">
										<input class="form-control" id="cityProvince" name="cityProvince" value="@contactForm("cityProvince").value"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">State</label>
								<div class="col-md-4">
										<input class="form-control" id="state" name="state" value="@contactForm("state").value"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Zip Code</label>
								<div class="col-md-4">
									<div class="input-group">
										<input class="form-control" id="zipCode" name="zipCode" value="@contactForm("zipCode").value"/>
										@if(contactForm.error("zipCode") != null) {
										<span class="error">@Messages(contactForm.error("zipCode").message)</span>
										}
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Country List</label>
								<div class="col-md-4">
									<input type="hidden" id="selectedCountryId" value="@contactForm("countryId").value"/>
									<select id="countryId" name="countryId"
										class="form-control select2">
										<option value=-1></option>
									</select>
								</div>
							</div> 
							<div class="form-group">
								<label class="col-md-3 control-label">Old Password</label>
								<div class="col-md-4">
									<input type="password" class="form-control" id="oldPasword" name="oldPassword" />
									@if(contactForm.error("oldPassword") != null) {
									<span class="error">@Messages(contactForm.error("oldPassword").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">New Password</label>
								<div class="col-md-4">
									<input type="password" class="form-control" id="password" name="password" />
									@if(contactForm.error("password") != null) {
									<span class="error">@Messages(contactForm.error("password").message)</span>
									}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Repeat New Password</label>
								<div class="col-md-4">
									<input type="password" class="form-control" id="repeatPassword" name="repeatPassword" />
									@if(contactForm.error("repeatPassword") != null) {
									<span class="error">@Messages(contactForm.error("repeatPassword").message)</span>
									}
								</div>
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn blue">Save Changes</button>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
