@(member: Member, board: Long, extraCss: Html, extraScripts: Html)

@extraCss
<script src="@routes.Assets.at("assets/plugins/jquery-1.10.2.min.js")" type="text/javascript"></script>
@extraScripts
<script>

jQuery(document).ready(function() {   

	$('[data-toggle="tooltip"]').tooltip();
	var boardData = "";
	
	appRoutes.controllers.MemberNetworkController.displayParentBoard(@board).ajax({
     success : function (data) {
 	     hideError();
 	     $.each(data, function(index,list) {
 	    	boardData = '<div id="' + '@board' + 'N' + index + '-chart"></div>';
 	    	
 	    	slot1 = list[0];
 	    	slot2 = list[1];
 	    	slot3 = list[2];
 	    	slot4 = list[3];
 	    	slot5 = list[4];
 	    	slot6 = list[5];
 	    	slot7 = list[6];
 	    	slot8 = list[7];
 	    	slot9 = list[8];
 	    	slot10 = list[9];
 	    	slot11 = list[10];
 	    	slot12 = list[11];
 	    	slot13 = list[12];
 	    	slot14 = list[13];
 	    	slot15 = list[14];

 	    	
 	    	//star image
 	    	image1 ="";
 	    	image2 ="";
 	    	image3 ="";
 	    	image4 ="";
 	    	image5 ="";
 	    	image6 ="";
 	    	image7 ="";
 	    	image8 ="";
 	    	image9 ="";
 	    	image10 ="";
 	    	image11 ="";
 	    	image12 ="";
 	    	image13 ="";
 	    	image14 ="";
 	    	image15 ="";
 	    	
			if (slot1.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image1 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot2.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image2 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot3.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image3 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot4.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image4 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot5.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image5 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot6.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image6 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot7.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image7 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot8.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image8 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot9.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image9 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot10.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image10 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot11.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image11 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot12.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image12 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot13.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image13 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot14.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image14 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			if (slot15.username == '@member.username') {
				$('.nav-tabs a[href="#board@board"]').tab('show');
				image15 = '<img class="star" src="@routes.Assets.at("images/star-one.png")"/>';
			}
			
			//details
			if (slot1.id > 0) {
        		d1 = moment(new Date(slot1.updateDate));
        		name1 = '<div data-toggle="tooltip" title="' + slot1.name + '\n' + slot1.email + '\n' + d1.format('MM/DD/YYYY') +
   	   				'" class="name">' + image1 + slot1.username + '</div>';
   	 		} else {
   		 		name1 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot1.username + '</div>';	  
     	 	}
			if (slot2.id > 0) {
        		d2 = moment(new Date(slot2.updateDate));
        		name2 = '<div data-toggle="tooltip" title="' + slot2.name + '\n' + slot2.email + '\n' + d2.format('MM/DD/YYYY') +
   	   				'" class="name">' + image2 + slot2.username + '</div>';
   	 		} else {
   		 		name2 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot2.username + '</div>';	  
     	 	}
			if (slot3.id > 0) {
        		d3 = moment(new Date(slot3.updateDate));
        		name3 = '<div data-toggle="tooltip" title="' + slot3.name + '\n' + slot3.email + '\n' + d3.format('MM/DD/YYYY') +
   	   				'" class="name">' + image3 + slot3.username + '</div>';
   	 		} else {
   		 		name3 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot3.username + '</div>';	  
     	 	}
			if (slot4.id > 0) {
        		d4 = moment(new Date(slot4.updateDate));
        		name4 = '<div data-toggle="tooltip" title="' + slot4.name + '\n' + slot4.email + '\n' + d4.format('MM/DD/YYYY') +
   	   				'" class="name">' + image4 + slot4.username + '</div>';
   	 		} else {
   		 		name4 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot4.username + '</div>';	  
     	 	}
			if (slot5.id > 0) {
        		d5 = moment(new Date(slot5.updateDate));
        		name5 = '<div data-toggle="tooltip" title="' + slot5.name + '\n' + slot5.email + '\n' + d5.format('MM/DD/YYYY') +
   	   				'" class="name">' + image5 + slot5.username + '</div>';
   	 		} else {
   		 		name5 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot5.username + '</div>';	  
     	 	}
			if (slot6.id > 0) {
        		d6 = moment(new Date(slot6.updateDate));
        		name6 = '<div data-toggle="tooltip" title="' + slot6.name + '\n' + slot6.email + '\n' + d6.format('MM/DD/YYYY') +
   	   				'" class="name">' + image6 + slot6.username + '</div>';
   	 		} else {
   		 		name6 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot6.username + '</div>';	  
     	 	}
			if (slot7.id > 0) {
        		d7 = moment(new Date(slot7.updateDate));
        		name7 = '<div data-toggle="tooltip" title="' + slot7.name + '\n' + slot7.email + '\n' + d7.format('MM/DD/YYYY') +
   	   				'" class="name">' + image7 + slot7.username + '</div>';
   	 		} else {
   		 		name7 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot7.username + '</div>';	  
     	 	}
			if (slot8.id > 0) {
        		d8 = moment(new Date(slot8.updateDate));
        		name8 = '<div data-toggle="tooltip" title="' + slot8.name + '\n' + slot8.email + '\n' + d8.format('MM/DD/YYYY') +
   	   				'" class="name">' + image8 + slot8.username + '</div>';
   	 		} else {
   		 		name8 = '<div data-toggle="tooltip" title="NONE class="name"">' + slot8.username + '</div>';	  
     	 	}
			if (slot9.id > 0) {
        		d9 = moment(new Date(slot9.updateDate));
        		name9 = '<div data-toggle="tooltip" title="' + slot9.name + '\n' + slot9.email + '\n' + d9.format('MM/DD/YYYY') +
   	   				'" class="name">' + image9 + slot9.username + '</div>';
   	 		} else {
   		 		name9 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot9.username + '</div>';	  
     	 	}
			if (slot10.id > 0) {
        		d10 = moment(new Date(slot10.updateDate));
        		name10 = '<div data-toggle="tooltip" title="' + slot10.name + '\n' + slot10.email + '\n' + d10.format('MM/DD/YYYY') +
   	   				'" class="name">' + image10 + slot10.username + '</div>';
   	 		} else {
   		 		name10 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot10.username + '</div>';	  
     	 	}
			if (slot11.id > 0) {
        		d11 = moment(new Date(slot11.updateDate));
        		name11 = '<div data-toggle="tooltip" title="' + slot11.name + '\n' + slot11.email + '\n' + d11.format('MM/DD/YYYY') +
   	   				'" class="name">' + image11 + slot11.username + '</div>';
   	 		} else {
   		 		name11 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot11.username + '</div>';	  
     	 	}
			if (slot12.id > 0) {
        		d12 = moment(new Date(slot12.updateDate));
        		name12 = '<div data-toggle="tooltip" title="' + slot12.name + '\n' + slot12.email + '\n' + d12.format('MM/DD/YYYY') +
   	   				'" class="name">' + image12 + slot12.username + '</div>';
   	 		} else {
   		 		name12 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot12.username + '</div>';	  
     	 	}
			if (slot13.id > 0) {
        		d13 = moment(new Date(slot13.updateDate));
        		name13 = '<div data-toggle="tooltip" title="' + slot13.name + '\n' + slot13.email + '\n' + d13.format('MM/DD/YYYY') +
   	   				'" class="name">' + image13 + slot13.username + '</div>';
   	 		} else {
   		 		name13 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot13.username + '</div>';	  
     	 	}
			if (slot14.id > 0) {
        		d14 = moment(new Date(slot14.updateDate));
        		name14 = '<div data-toggle="tooltip" title="' + slot14.name + '\n' + slot14.email + '\n' + d14.format('MM/DD/YYYY') +
   	   				'" class="name">' + image14 + slot14.username + '</div>';
   	 		} else {
   		 		name14 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot14.username + '</div>';	  
     	 	}
			if (slot15.id > 0) {
        		d15 = moment(new Date(slot15.updateDate));
        		name15 = '<div data-toggle="tooltip" title="' + slot15.name + '\n' + slot15.email + '\n' + d15.format('MM/DD/YYYY') +
   	   				'" class="name">' + image15 + slot15.username + '</div>';
   	 		} else {
   		 		name15 = '<div data-toggle="tooltip" title="NONE" class="name">' + slot15.username + '</div>';	  
     	 	}
			
			
 	       boardData = boardData + 
 	                '<ul id="@board' + 'N' + index + '-board-list" class="hide"> ' +
 		   				'<li class="orgName"> ' + name1 +
 		        		   	'<ul>' +
 		            			'<li class="orgName"> ' + name2 +
 		                			'<ul> ' +
			 		                    '<li class="orgName"> ' + name4 +
			 				                '<ul> ' +
			 				                    '<li class="orgName"> ' + name8 + '</li>' +
			 				                    '<li class="orgName"> ' + name9 + '</li>' +									                    
			 				                '</ul> ' +
			 		                    '</li> ' +
		 		                    	'<li class="orgName"> ' + name5 +
			 		                        '<ul> ' +
			 				                    '<li class="orgName"> ' + name10 + '</li> ' +
			 				                    '<li class="orgName"> ' + name11 + '</li> ' +									                    
			 				                '</ul> ' +							                        
			 		                    '</li> ' +
			 		                '</ul> ' +
			 		            '</li> ' +
			 		            '<li class="orgName"> ' + name3 + 
			 		                 '<ul> ' +
			 		                    '<li class="orgName"> ' + name6 +
			 				                '<ul> ' +
			 				                    '<li class="orgName"> ' + name12 + '</li> ' +
			 				                    '<li class="orgName"> ' + name13 + '</li> ' +										                    
			 				                '</ul> ' +									                         
			 		                    '</li> ' +
			 		                    '<li class="orgName"> ' + name7 +
			 				                '<ul> ' +
			 				                    '<li class="orgName"> ' + name14 + '</li> ' +
			 				                    '<li class="orgName"> ' + name15 + '</li> ' +										                    
			 				                '</ul> ' +									                        
			 		                    '</li> ' +
			 		                '</ul> ' +
			 		            '</li> ' +
			 		        '</ul> ' +
			 		    '</li> ' +
			 		'</ul>';			
         			$("#@board" + "-board-data").append(boardData);
         			$("#@board" + "N" + index + "-board-list").orgChart({container: $("#@board" + "N" + index + "-chart")});
         });


     }, error : function (error) {
    	//console.log('error occurred'); 
	 	displayError('Error occurred. Board details cannot be displayed');
     }
   });
}); 

</script>
<div id="@board-board-data"></div>