@(member: Member)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->

<link href="@routes.Assets.at("assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")" rel="stylesheet" type="text/css"/>
<link href="@routes.Assets.at("assets/plugins/bootstrap-modal/css/bootstrap-modal.css")" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/plugins/select2/select2_metro.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.css")"/>
<!-- END PAGE LEVEL STYLES -->
}

@scripts = {
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/select2/select2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/jquery.dataTables.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.js")"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("assets/plugins/bootstrap-modal/js/bootstrap-modal.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("assets/scripts/app.js")"></script>
<script src="@routes.Assets.at("assets/scripts/table-managed.js")"></script>
<script src="@routes.Assets.at("assets/scripts/ui-extended-modals.js")"></script>
<script src="@routes.Assets.at("javascripts/pending.js")"></script>
<script>
jQuery(document).ready(function() {  
	clearUI();
	
	 UIExtendedModals.init();
	appRoutes.controllers.MemberController.listPendingAssociates().ajax({
       success : function (response) {
        TableManaged.init(response);
       
       }
     });
	
	$('#member_type').on('change', function() {
		  if(this.value == 'club_member'){
			  $('#club_member_type').show();
		  } else{
			  $('#club_member_type').hide();
		  }
		});
	
});  


</script>
}

@memberMain(member, css, scripts) {
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			
			<ul class="page-breadcrumb breadcrumb">
				
				<li>
					<i class="fa fa-home"></i>
					<a href="">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">Pending Associates</a>
					
				</li>
				
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Pre Signed Up Associates
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
						<div id="target1">
						</div>
									<table class="table table-striped table-bordered table-hover" id="pending_associates">
							
									</table>

						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>	
	
   <div id="responsive" class="modal fade" tabindex="-1" data-width="560" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Would you like to continue with activation of this account?</h4>
  </div>
  <div class="modal-body">
 						 <div id="errorBox" class="alert alert-danger" style="display:none;">
							<strong>Error!</strong> Transaction failed <span id="error1" class="message" style="display:none;"></span>
						</div>
						<div id="successBox" class="alert alert-success" style="display:none;">
							<strong>Success!</strong> Transaction has been completed.
						</div>
    <div class="row">
    												<div class="col-md-12">
    														<label class="control-label col-md-3">Activation</label>
	    													<div class="col-md-8">
	    														<input type="hidden" id="selected_pending_id" value=""/>
																<select class="form-control" id="member_type">
																@if(member.memberType.code == "club_member"){ 
																		 <option value="club_member">Club Member</option>
																  }else{
																  		 <option value="club_member">Club Member</option>
 																		  <option value="merchant">Merchant</option>
		 																 		
		 														  } 						
		 														  							  
																</select>
																
																<span class="help-block">
																</span>
															</div>
													</div>
													
    		
    </div>
     <div class="row"  id="club_member_type">
													<div class="col-md-12">
															<label class="control-label col-md-3">Account Type</label>
															<div class="col-md-8">
																<div class="">
																	<label class="">
																	<div id="uniform-optionsRadios1" class="radio"><span><input name="optionsClubMemberType" id="optionsClubMemberTypeClassic" value="classic" checked="true" type="radio"></span></div> Classic </label>
																	<label class="radio-inline">
																	<div id="uniform-optionsRadios2" class="radio"><span class="checked"><input name="optionsClubMemberType" id="optionsClubMemberTypePremium" value="premium" type="radio"></span></div> Premium </label>
																	<label class="radio-inline">
																</div>
																</span>
															</div>
													</div>
											
    </div>
    <div class="row"  id="affiliate_network_type">
													<div class="col-md-12">
															<label class="control-label col-md-3">Network Type</label>
															<div class="col-md-8">
																<div class="">
																	<label class="">
																	<div id="uniform-optionsRadios1" class="radio"><span><input name="optionAffialiateNetworkType" id="optionAffialiateNetworkTypeOG" value="organo_gold" checked="true" type="radio"></span></div> Organo Gold </label>
																	<label class="radio-inline">
																	<div id="uniform-optionsRadios2" class="radio"><span ><input name="optionAffialiateNetworkType" id="optionAffialiateNetworkTypeVantage" value="vantage" type="radio"></span></div> Vantage </label>
																	<label class="radio-inline">
																	<div id="uniform-optionsRadios3" class="radio"><span><input name="optionAffialiateNetworkType" id="optionAffialiateNetworkTypeAIM" value="aim" type="radio"></span></div> AIM </label>
																</div>
																</span>
															</div>
													</div>
											
    </div>
    <div class="row">
													<div class="col-md-12">
															<label class="control-label col-md-3">Signee Name</label>
															<div class="col-md-8">
																<input type="text" id="signeeName_id_text"  class="form-control" value="">
																<span class="help-block">
																</span>
															</div>
													</div>
											
    </div>
    <div class="row">
    
													
													<div class="col-md-12">
														
															<label class="control-label col-md-3">User Name</label>
															<div class="col-md-8">
																<input type="text" id="userName_id_text" class="form-control" value=""> 
																<span class="help-block">
																</span>
															</div>
													</div>
												
    </div>
  
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary" id="confirmApproveBtn">Activate</button>
  </div>
</div>
	
}