@(member: Member)

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/transferecredits.js")"></script>
}

@memberMain(member, null, scripts) {
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
		<ul class="page-breadcrumb breadcrumb">
			
			<li>
				<i class="fa fa-home"></i>
				<a href="">Transaction</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Transfer E-Credits</a>
				
			</li>
			
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- Start of Merchant Form -->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Transfer Credits Form
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#" class="horizontal-form">
					<div class="form-body">
						<h3 class="form-section">Transfer Information Details</h3>
						<div id="errorBox" class="alert alert-danger" style="display:none;">
							<strong>Error!</strong> Transaction failed.
						</div>
						<div id="successBox" class="alert alert-success" style="display:none;">
							<strong>Success!</strong> Transaction has been completed.
						</div>
						<div class="row">
							<div class="col-md-6">
								<div id="usernameDiv" class="form-group">
									<label class="control-label">Member Name</label>
									<input type="text" id="memberUserName" class="form-control" >
									<span id="error1" class="help-block" style="display:none;"></span>
								</div>
							</div>
							
						</div>
						<!--/row-->
						<div class="row">
							<div class="col-md-6">
								<div id="amountDiv" class="form-group">
									<label class="control-label">Amount E-Credits</label>
									<input type="text" id="amount" class="form-control" placeholder="Number only">
									<span id="error2" class="help-block" style="display:none;"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions left">
						<button type="button" id="submitTransferBtn"  class="btn blue"><i class="fa fa-check"></i> Submit Transfer</button>
						<button id="resetBtn" type="button" class="btn default">Reset</button>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
	<!-- End of Merchant Form -->
	</div>
</div>
}