@(member: Member)

@css = {
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("assets/plugins/select2/select2_metro.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.css")"/>
<!-- END PAGE LEVEL STYLES -->
}

@scripts = {
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/select2/select2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/jquery.dataTables.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("assets/plugins/data-tables/DT_bootstrap.js")"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("assets/scripts/app.js")"></script>
<script src="@routes.Assets.at("assets/scripts/table-managed.js")"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {       
	appRoutes.controllers.MemberNetworkController.listAssociates('@member.username', 1).ajax({
       success : function (response) {
        TableManaged.init(response);
       }
     });
	
	$("body").on('change', '#level', function() {
	    //get the selected value
	    var selectedValue = $(this).val();

	    //make the ajax call
		$("#unilevel_1").dataTable().fnDestroy();
		appRoutes.controllers.MemberNetworkController.listAssociates($("#current_member").html(), selectedValue).ajax({
		       success : function (response) {
		        TableManaged.init(response);
		        $("#current_member").html(username);
		        appRoutes.controllers.MemberController.getMemberByUsername(username).ajax({
			 	       success : function (response) {
			 	    	  $("#current_member_name").html(response.name);
			 	       }
			 	     });
		       }
		     });
	});
});   

function displayDownlines(username, level) {
	$("#unilevel_1").dataTable().fnDestroy();
	appRoutes.controllers.MemberNetworkController.listAssociates(username, level).ajax({
	       success : function (response) {
	        TableManaged.init(response);
	        appRoutes.controllers.MemberController.getMemberByUsername(username).ajax({
	            success : function (response) {
	         	  $("#current_member_name").html(response.name);
	            }
	          });
	    	$("#current_member").html(username);
	    	$("#level").val(1);
	       }
	     });
}

</script>
}

@memberMain(member, css, scripts) {
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			
			<ul class="page-breadcrumb breadcrumb">
				
				<li>
					<i class="fa fa-home"></i>
					<a href="">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">Unilevel Network</a>
					
				</li>
				
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Expanded Detail Network
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
						<div id="target1">
						</div>
						Current Network:  <b><span id="current_member_name">@member.account.person.firstName @member.account.person.lastName</span></b>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						User Name: <b><span id="current_member">@member.username</span></b>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

							Select Level: 
								<select name="level" title="Select Level" id="level">
					                <option value="1" onChange="displayDownline(this.value)">1</option>
					                <option value="2" onChange="displayDownline(this.value)">2</option>
					                <option value="3" onChange="displayDownline(this.value)">3</option>
					                <option value="4" onChange="displayDownline(this.value)">4</option>
					                <option value="5" onChange="displayDownline(this.value)">5</option>
					                <option value="6" onChange="displayDownline(this.value)">6</option>
					                <option value="7" onChange="displayDownline(this.value)">7</option>
					                <option value="8" onChange="displayDownline(this.value)">8</option>
					                <option value="9" onChange="displayDownline(this.value)">9</option>
					                <option value="10" onChange="displayDownline(this.value)">10</option>
					                <option value="11" onChange="displayDownline(this.value)">11</option>
					                <option value="12" onChange="displayDownline(this.value)">12</option>
					            </select>

						</br></br>
									<table class="table table-striped table-bordered table-hover" id="unilevel_1">
							
									</table>

						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>	
}